# Default owners for the entire repository
*          @pmaturure3 

# Specify owners for particular file types
*.txt      @pmaturure3

# Specify owners for the docs folder (both individual and team)
/docs/     @pmaturure3 @teenopmat/user-services
