# Default owners for the entire repository
* @pmaturure3 @up2136698

# Example: Specify owners for particular folders or file types (optional)
/docs/ @up2136698  @pmaturure3
*.py @pmaturure3 @up2136698 # for all python files
